p.custom-footer {
  margin: 10px 0;
}

a.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2em;
}

@media screen and (max-width: 390px) {
  a.navbar-brand {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 320px) {
  a.navbar-brand {
    font-size: 1.2em;
  }
}


body {
  font-family: 'Open Sans';
}

.center {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 0;
  }
}

.avatar-container {
    display: none;
}